
body {
  height: 100vh;
  margin: 0;
  background: linear-gradient(270deg, hsl(201, 81%, 10%), lab(11.69% 9.71 -29.65));
  background-size: 600% 600%;
  animation: moverGradiente 10s ease infinite;
  font-family: Arial, Helvetica, sans-serif;
}
@keyframes moverGradiente {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.texto{
  color: hsl(179, 93%, 48%);
}
#eslogan{
  font-size:medium;

}

#banner{
  margin-bottom: 400px;
}
#sobremibody{
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 64px;
}
#foto{
  width: 300px;   /* ancho fijo */
  height: 200px;  /* alto fijo */
  color:hsl(179, 93%, 48%);
  border:1px solid;
  height: auto;
  display: inline-block;
  border-radius: 50px;
  
}


.btn-degradado {
  color: lch(100% 0.01 296.81);
  margin-right: 10px;
  border-radius: 64px;
  font-weight: lighter;
  font-size: smaller;
  background-color: rgb(222, 222, 222,0.50);

}

.btn-degradado:hover {
  background: transparent;
  color:white

}

.botones{
  justify-content: space-between;
  display: flex;
}
#Frontend{
  color: white;
  border: 1px solid;
  background: hsl(0, 0%, 0%,0.50);
  height: auto;
  border: 2px solid  #20D3D1;
}
#barra {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 0;
  z-index: 9999;
  background: transparent;      /* más elegante */
  backdrop-filter: blur(12px);
}

/* Ajustar los enlaces */
#barra .nav-link {
  color: #EFFFFF;
  font-size: 1rem;
  padding: 8px 16px;
  transition: 0.3s ease;
}

/* Hover elegante */
#barra .nav-link:hover {
  color: #20D3D1;
  transform: translateY(-2px);
}
.timeline {
    position: relative;
    padding-left: 4rem;
    margin: 0 0 0 30px;
    color: white;

    &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 4px;
        height: 100%;
        background: #ffffff;
    }

    .timeline-container {
        position: relative;
        margin-bottom: 2.5rem;;
        border: 2px solid #20D3D1;

        .timeline-icon {
            position: absolute;
            left: -88px;
            top: 4px;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            text-align: center;
            font-size: 2rem;
            background: #ffffff;

            i {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
            }

            img {
                width: 100%;
                height: 100%;
                border-radius: 50%;
            }
        }

        .timeline-body {
            background: hsl(0, 0%, 0%,0.50);
            border-radius: 3px;
            padding: 20px 20px 15px;
            box-shadow: 1px 3px 9px rgba(0,0,0,0.5);

            &:before {
                content: '';
                background: inherit;
                width: 20px;
                height: 20px;
                display: block;
                position: absolute;
                left: -10px;
                transform: rotate(45deg);
                border-radius: 0 0 0 2px;
            }


            .timeline-subtitle {
                font-weight: 300;
                font-style: italic;
                opacity: .4;
                margin-top: 16px;
                font-size: 11px;
                color: white;
            }
        }

        &.primary {
            .badge,
            .timeline-icon {
                background: #20D3D1 !important;
            }
        }





    }
}
div#proyectos{
  border: 2px solid #20D3D1;
  background: hsl(0, 0%, 0%,0.50);
}

section {
    opacity: 0;
    transform: translateY(50px);
    transition: all 0.8s ease-out;
}

section.fade-in {
    opacity: 1;
    transform: translateY(0);
}


.footer-simple {
  background-color: transparent; /* fondo transparente */
  color: #fff;            /* texto blanco */
  text-align: center;     /* centrado */
  padding: 1rem 0;        /* espacio arriba y abajo */
  font-size: 0.9rem;      /* tamaño de texto discreto */
  margin-top: 2rem;       /* separacion del contenido */
}




